<nav class="bg-blue-600 text-white p-4 shadow-md">
  <div class="container mx-auto flex items-center justify-between">
    
    <!-- Logo y enlace al root de la app -->
    <div class="flex items-center space-x-4">
     </div>

  <% if admin_user? %>
    <%= image_tag "https://media.giphy.com/media/11JTxkrmq4bGE0/giphy.gif", alt: "GIF animado" , style:"width: 75px; border-radius: 100%;"%>
  <% end %>

    <!-- Menú de navegación -->
    <ul class="flex items-center space-x-6">

    <li>
      <div class="language-switcher">
        <%= link_to "🇬🇧 English", url_for(locale: :en), class: "text-white-600" %> |
        <%= link_to "🇨🇴 Español", url_for(locale: :es), class: "text-white-600" %> |
        <%= link_to "🇯🇵 日本語", url_for(locale: :ja), class: "text-white-600" %>
      </div>
    </li><% if user_signed_in? %>
        <!-- Enlace de Logout -->
        <li>
          <%= form_for(:user, url: destroy_user_session_path, method: :delete) do |f| %>
            <%= f.submit 'Logout', class: 'bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline' %>
          <% end %>
        </li>
      <% else %>
        <!-- Enlaces de Login y Registro -->
        <li>
          <%= link_to 'Login', new_user_session_path, class: "hover:text-gray-300 text-lg font-semibold" %>
        </li>
        <li>
          <%= link_to 'Register', new_user_registration_path, class: "hover:text-gray-300 text-lg font-semibold" %>
        </li>
      <% end %>
    </ul>
  </div>
</nav>
