<div id="<%= dom_id(event) %>">
  <p>
    <strong>Nombre:</strong>
    <div class="testing-event-name" id="event-<%= event.id %>">
      <%= link_to event.name, event_path(event) %>
    </div>
  </p>

  <p>
    <strong>Fecha:</strong>
    <%= event.date %>
  </p>

  <p>
    <strong>Descripcion:</strong>
    <%= event.description %>
  </p>
</div>
