<%= form_with(model: event, local: true) do |form| %>
  <% if event.errors.any? %>
    <div class="mb-6 p-4 text-red-800 bg-red-100 border border-red-300 rounded">
      <h2 class="font-bold mb-2">
        <%= pluralize(event.errors.count, t("errors.template.header.other")) %>
        <%= t("errors.template.body") %>:
      </h2>
      <ul class="list-disc pl-5">
        <% event.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mb-6">
    <%= form.label :name, t("events.attributes.name"), class: "block text-gray-700 font-bold mb-2" %>
    <%= form.text_field :name, class: "shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" %>
  </div>

  <div class="mb-6">
    <%= form.label :date, t("events.attributes.date"), class: "block text-gray-700 font-bold mb-2" %>
    <%= form.date_field :date, class: "shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" %>
  </div>

  <div class="mb-6">
    <%= form.label :description, t("events.attributes.description"), class: "block text-gray-700 font-bold mb-2" %>
    <%= form.text_area :description, class: "shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" %>
  </div>

  <div class="mb-6">
    <%= form.label :tickets_quantity, t("events.attributes.tickets_quantity"), class: "block text-gray-700 font-bold mb-2" %>
    <%= form.number_field :tickets_quantity, class: "shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" %>
  </div>

  <div class="mb-6">
    <%= form.label :capacity, t("events.attributes.capacity"), class: "block text-gray-700 font-bold mb-2" %>
    <%= form.number_field :capacity, class: "shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" %>
  </div>

  <div class="flex items-center justify-start">
    <%= form.submit t("helpers.submit.create", model: Event.model_name.human), class: "bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" %>
  </div>
<% end %>

